*{
    margin:0px;
    padding:0px;
}
body{
    background-color:rgb(85, 85, 168);
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.passwordBox{
    background-color:rgb(43, 125, 226);
    width:450px;
    /* height:300px; */
    padding:20px;
    /* display:flex;  */
    justify-content:center;
    border: 1px solid red;
   
    
}
.passwordBoxin{
    display:flex;
    justify-content: center;
    flex-basis:70%;
    padding-left:5px;
    height:30px;
    margin-right:5px;
    margin-bottom:10px;
    align-items:center; 
}

.passwordBoxin > input{
    width:50%;
    height: 100%;
    outline: none;
}
.passwordBoxin button{
    flex-basis:10%;
    padding:7px;
 
}

h2{
    padding-bottom:20px;
    text-align:center;
}
.passLength{
    display:flex;
    justify-content:space-between; 
     height:22px;
     margin-bottom:10px;
    
}
.passLength input{
   flex: basis 10%;
   width:35px;
   /* padding:10px 10px; */
}
.passLength label{
    flex-basis:80%;
}

.btn{
    width:100%;
    padding:8px 0px;
    cursor:pointer;
}
.copy-btn{
    cursor:pointer;
}